<div fd-form-item>
    <label fd-form-label for="input-1" [colon]="true">Cerca </label>
    <input fd-form-control type="text" id="input-1" placeholder="Sales Order..." />
</div> 

<table fd-table aria-label="Default">
    <thead fd-table-header>
        <tr fd-table-row>
            <th fd-table-cell></th>
            <th fd-table-cell>Column Header</th>
            <th fd-table-cell>Column Header</th>
            <th fd-table-cell>Column Header</th>
            <th fd-table-cell>Column Header</th>
        </tr>
    </thead>
    <tbody fd-table-body>
        @for (row of tableRows; track row) {
            <tr fd-table-row>
                <td fd-table-cell>
                    <a fd-link href="#">{{ row.column1 }}</a>
                </td>
                <td fd-table-cell>
                    <p fd-table-text maxWidth="250px" [noWrap]="true">
                        {{ row.column2 }}
                    </p>
                </td>
                <td fd-table-cell>
                    <p fd-table-text maxWidth="250px">
                        {{ row.column3 }}
                    </p>
                </td>
                <td fd-table-cell>{{ row.date }}</td>
                <td fd-table-cell>s</td>
            </tr>
        }
    </tbody>
</table>

