<!-- #searchBox è il collegamento a ViewChild -->
<input #searchBox type="text" placeholder="cerca....">
<table class="table table-striped">
  <thead>
    <tr>
      <th>SalesOrder</th>
      <th>SalesOrderItem</th>
      <th>auart</th>      
      <th>erdat</th>      
      <th>netwr</th>      
      <th>waerk</th>      
      <th>bstnk</th>      
      <th>objnr</th>      
      <th>vbtyp</th>      
      <th>vkorg</th>      
      <th>vtweg</th>      
      <th>spart</th>      
      <th>matnr</th>      
      <th>kwmeng</th>      
      <th>vrkme</th>      
      <th>kdmat</th>      
      <th>zz070</th>    
      <th>lfsta</th>    
      <th>abgru</th>    
      <th>ShipToCustomer</th>    
      <th>ShipToCustomerName</th>    
      <th>QtaDelivered</th>  
      <th>StatusText</th>  
      <th>language</th>  
      <th>RequestDate</th>  
      <th>StatusSO</th>  
      <th>Advancement</th>  
      <th>Lfsta_s</th>  
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let ord of elenco">
      <td>{{ord.SalesOrder}}</td>
      <td>{{ord.SalesOrderItem}}</td>
      <td>{{ord.auart}}</td>
      <td>{{ord.erdat}}</td>
      <td>{{ord.netwr}}</td>
      <td>{{ord.waerk}}</td>
      <td>{{ord.bstnk}}</td>
      <td>{{ord.objnr}}</td>
      <td>{{ord.vbtyp}}</td>
      <td>{{ord.vkorg}}</td>
      <td>{{ord.vtweg}}</td>
      <td>{{ord.spart}}</td>
      <td>{{ord.matnr}}</td>
      <td>{{ord.kwmeng}}</td>
      <td>{{ord.vrkme}}</td>
      <td>{{ord.kdmat}}</td>
      <td>{{ord.zz070}}</td>
      <td>{{ord.lfsta}}</td>
      <td>{{ord.abgru}}</td>
      <td>{{ord.ShipToCustomer}}</td>
      <td>{{ord.ShipToCustomerName}}</td>
      <td>{{ord.QtaDelivered}}</td>
      <td>{{ord.StatusText}}</td>
      <td>{{ord.language}}</td>
      <td>{{ord.RequestDate}}</td>
      <td>{{ord.StatusSO}}</td>
      <td>{{ord.Advancement}}</td>
      <td>{{ord.Lfsta_s}}</td>
    </tr>
  </tbody>
</table>