
<fd-layout-panel>
    <fd-layout-panel-header>
        <fd-layout-panel-head>
            <fd-layout-panel-actions> Layout Panel Actions </fd-layout-panel-actions>
            <h5 fd-layout-panel-title>BIN TO BIN</h5>
            <fd-layout-panel-actions> Layout Panel Actions </fd-layout-panel-actions>
        </fd-layout-panel-head>
    </fd-layout-panel-header>
    <fd-layout-panel-body>
        <fdp-icon-tab-bar [tabsConfig]="items" iconTabType="icon"></fdp-icon-tab-bar>
    </fd-layout-panel-body>
    <fd-layout-panel-footer>
         <button fd-button label="CLEAR" fdType="negative" glyph="decline" ariaLabel="Negative Filter"></button>
         <button fd-button label="POST" fdType="positive" glyph="cart-approval" ariaLabel="Positive Filter"></button>
    </fd-layout-panel-footer>
</fd-layout-panel>